.sudoku {
	width: max-content;

	font-size: 2em;
	font-family: monospace;
}

table, .controls {
	margin: 2em;
}

td {
	width: 2em;
	height: 2em;

	box-sizing: border-box;
	opacity: 0.5;

	text-align: center;
	vertical-align: middle;

	border: 1px solid black;
}

td.section-edge-top { border-top-width: 3px; }
td.section-edge-bottom { border-bottom-width: 3px; }
td.section-edge-left { border-left-width: 3px; }
td.section-edge-right { border-right-width: 3px; }

td.constant {
	opacity: unset;
}

td > * {
	display: inline-block;
	box-sizing: border-box;
}

td > input {
	width: 100%;
	height: 100%;

	text-align: center;
}

.constant {
	font-weight: bold;
}

/* Controls */
.controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.controls input[type="radio"], 
.controls button {
	position: relative;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	appearance: none;

	border: 1px solid black;
	border-radius: 3px;

	--button-width: 2.5rem;
	font-size: 1.25rem;

	width:  var(--button-width);
	height: var(--button-width);

	margin: 0;
	padding: 2px;

	box-sizing: border-box;

	background-color: #e0e0e0;
}

.controls button::after {
	content: "\270E";
	font-family: monospace;
}

.controls.pencil-marking button,
.controls input[type="radio"]:checked {
	background-color: #c0c0c0;
	box-shadow: rgba(0, 255, 255, 1) 0 0 5px;
}

.controls input[type="radio"]::after {
	content: attr(value);
	font-family: monospace;
}

td {
	position: relative;
	--button-width: 2em;
}

.controls.pencil-marking input[type="radio"]::after,
td span {
	position: absolute;

	--font-size: calc((var(--button-width) - 4px) / var(--max-y));
	/* 2px when at left 0px when at right */
	--padding-left: calc((var(--max-x) - 1 - var(--pos-x)) / (var(--max-x) - 1) * 2px);
	--padding-top: calc((var(--max-y) - 1 - var(--pos-y)) / (var(--max-y) - 1) * 2px);


	top: calc(
		var(--pos-y) / var(--max-y) * 100% 
		+ var(--padding-top)
		- var(--font-size) * var(--pos-y) / var(--max-y));
	left: calc(
		var(--pos-x) / var(--max-x) * 100% 
		+ var(--padding-left));
	font-size: var(--font-size);
	font-weight: bold;
	color: rgba(0,0,0,0.4);
}

.invalid-row,
.invalid-column,
.invalid-section {
	box-shadow: 
		0 0 0.25em red inset;
}